.tripcard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.tripcard__left {
  width: 35%;
}

.tripcard__right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tripcard__textbox {
  &-title {
    font-size: var(--font-size-h3);
    letter-spacing: var(--letter-space);
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;

    &:after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      bottom: 0;
      right: -2.5rem;
      transition: all 0.5s;
      color: var(--color-gray-dark);
    }

    &:hover {
      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }

  &-description {
    font-size: var(--font-size-p);
    color: var(--color-gray-dark);
    margin-bottom: 1rem;
    text-align: justify;
  }

  &-link {
    margin-left: 1rem;
    font-size: 1.25rem;
    text-decoration: underline;
    color: var(--color-blue);
    cursor: pointer;
    line-height: 1rem;
    transition: all 0.2s;

    &:hover {
      font-size: var(--font-size-p);
    }
  }

  &-tags {
    font-size: 1.25rem;
    color: var(--color-gray-dark);

    &-title {
    }

    &-item {
      text-decoration: underline;
      margin-right: 0.5rem;
      cursor: pointer;
      transition: all 0.2s;
      line-height: 1rem;

      &:hover {
        font-size: var(--font-size-p);
      }

      &:last-child {
        margin-left: 0.5rem;
      }
    }
  }
}

.tripcard__imagebox {
  display: flex;
}

.row {
  max-width: 100%;
  margin: 0 auto;

  .col-1-of-3 {
    float: left;
    width: calc((100% - (2 * 2rem)) / 3);

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
